body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #fff;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.nav-bar{
    background: #050a38; 
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap:1px;
    align-items: center;
    object-fit: cover;
}

.btn{
    width:100px;
    height:50px;
    color:#0f0e01;
    background-color:#f4d58d;
    border-radius: 10px;
    font-weight: 900;
    border:none;
    transition: transform 0.3s;
}
.btn:hover{
    transform: scale(1.1);
    color: #bf0603;
}
h1 {
    width:40%;
    font-size: 5vw;
    margin: 0;
    color: #f39c12;
}
.phonelogo{
    height:50px;
    width:20%;
    display: none;
    
}
.fit-picture{
    width:12vw;
    height:9vw;
    border: none;
    
    background-size: cover;
    background-color: #050a3800;
     transition: transform 0.3s; 
}
.fit-picture:hover{
    transform:scale(1.2);
    
}
.fit-picture2{
    width:12vw;
    height:9vw;
    border: none;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0) ;
     transition: transform 0.3s;
}
.side-bar{
    position:fixed;
    top: -15px;;
    right:0;
    height:50vh;
    width:150px;
    text-decoration: none;
    z-index:100000;
    display: none;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.208);
    border-radius: 10px;
    flex-direction:column;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-evenly;
}

.side-bar li{
    width: 100%;
  
}
.side-bar a{
    width:100%;
    color: #f39c12;
    text-decoration:none;
    font-weight: 700;
    transition: transform 0.3s;
    
    font-size: large;
}
.side-bar a:hover{
    
    color: #bf0603;
}
@media(max-width:650px){
    .btn{
        display:none;
    }
    .phonelogo{
        display:inline-block;
        display:flex;
        justify-content: flex-end;
    }
    .nav-bar{
        height:15px;
    }
    
    
    .moon{
        height:40vw;
        width:40vw;
        position: relative;
    }
    .section1{
        
        flex-wrap: wrap;
    }
}

h7{
    font-size:2vw;
}
.rec{
    height: 20px;
    width:100%;
    background-color: #708d81;
}
#logo{
    position:absolute;
    top:70%;
    left:50%;
    width:82.7083332804vw;
    height: 8.2638888836vw;
    transform:translate(-50%,-50%);
    animation: fill 0.5s ease forwards 4s;
}

#logo path:nth-child(1){
    stroke-dasharray: 581.345703125px;
    stroke-dashoffset:581.345703125px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 553.0745239257812px;
    stroke-dashoffset:553.0745239257812px;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 559.7058715820312px;
    stroke-dashoffset:559.7058715820312px;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 634.1140747070312px;
    stroke-dashoffset:634.1140747070312px;
    animation: line-anim 2s ease forwards  0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 254.81854248046875px;
    stroke-dashoffset:254.81854248046875px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 578.8190307617188px;
    stroke-dashoffset:578.8190307617188px;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 386.54644775390625px;
    stroke-dashoffset:386.54644775390625px;
    animation: line-anim 2s ease forwards 1.8s; 
}
#logo path:nth-child(8){
    stroke-dasharray: 634.1135864257812px;
    stroke-dashoffset:634.1135864257812px; 
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
    stroke-dasharray: 620.2803955078125px;
    stroke-dashoffset:620.2803955078125px; 
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(10){
    stroke-dasharray: 254.81854248046875px;
    stroke-dashoffset:254.81854248046875px;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11){
    stroke-dasharray: 555.4451293945312px;
    stroke-dashoffset:555.4451293945312px;
    animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(12){
    stroke-dasharray:  553.0445556640625px;
    stroke-dashoffset: 553.0445556640625px;
    animation: line-anim 2s ease forwards 3.3s;
}
#logo path:nth-child(13){
    stroke-dasharray: 582.4320678710938px;
    stroke-dashoffset:582.4320678710938px;
    animation: line-anim 2s ease forwards 3.6s;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:#fafafa;
    }
}

.moon{
    height:16vw;
    width:16vw;
    position: relative;
    top:-80%;
    left:70%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: #0f0c29;
    background-image: url("moonfinal.png");
    background-position-x: center ;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    box-shadow: inset 16px 0 40px 3px rgba(0, 0, 0),
                inset -8px 0 6px 2px rgba(255,255,255,0.1);
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        background-position-x: 0vh;
    }
    to{
        background-position-x: 40vh;
    }
}
.nav a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f39c12;
}
.section{
    height:600px;
    width:100%;
   
    object-fit: cover;

    
 } 
.section img{
    height:600px;
    width:100%;
    object-fit: cover;
}
.section1{
    height:500px;
    text-align: center;
    transition: background-color 1s ease;
    display: flex;
    padding-top: -30px;
    padding-bottom: 20px;
    /* padding-left: 10px; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width:100%;
}

.about{
    height:300px;
    width:70vw;
    
    text-align: center;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;

}
.proto{
     height:300px;
    width:70vw;
   
    text-align: center;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;

}
.card {
    width:50vw;
    height:30vw;
    align-items: center;
    background: #07182E;
    position: relative;
    padding:10px;
    display: flex;
    place-content: center;
    place-items: center; 
    overflow: hidden;
    border-radius: 20px;
    }
    
    .card h2 {
    color: white;
    font-size:1vw;
    width:40%;
    }
    .card p{
        z-index: 1;
        font-size: 2vw;
        color: black;  
    }
    .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg,#dc0d0a, #17d485);
    height: 300%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    }
    @keyframes rotBGimg {

        from {
        
        transform: rotate(0deg);
        }
        to {
        
        transform: rotate(360deg);
        
        }
        
        }
        
    .card::after {
        content: "";
        position: absolute;
        background:#f4d58d;
        inset: 5px;
        border-radius: 15px;
        }  
.photo{
    height:35vw;
    width:45vw;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.photo::-webkit-scrollbar{
    display: none;
} 

.ui{
    width:42vw;
    height:32vw;
    background-color: #f4d58d;
    align-content: center;
    margin:10px;
    border-radius: 20px;
    display: inline-block;
}
.ui img{
    width:40vw;
    height: 30vw;
    border-radius: 20px;
    object-fit: cover;
}
@media(max-width:650px){
    .photo{
         height:60vw;
         width:75vw;
    }
    .ui{
        width:72vw;
        height:57vw;
    }
    .ui img{
        width:70vw;
        height:55vw;
    }
    .card {
        width:70vw;
        height:40vw;
    }
    .card p{
        z-index: 1;
        font-size: 3vw;
        color: black;  
    }
    .section1{
        height: 700px;
    }
    h7{
        font-size: 3vw;
    }
}
.section2{
    padding: 6rem 2rem;
    text-align: center;
    
}
.section3{
    text-align: center;
    height:30vw;
    justify-content:space-between;
    
}
.skill-btn{
    height:11vw;
    width:15vw;
    border-radius: 100px;
    justify-content:space-between;
    background-color:transparent;
    border:none;
    object-fit: cover;
    transition: transform 0.3s;
    
}
.skill-btn img{
    height: 11vw;
    width:15vw;
    border-radius: 100px;
    object-fit: cover;
}
.skill-btn:hover{
    transform: scale(1.1);
}

h4{
    font-size: 2rem;
    font-weight: bolder;
   
}

.card2 {
    background: #708d81;
    margin: 1rem auto;
    padding: 2rem;
    height: 50vw;
    border-radius: 12px;
    width:72vw;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    transition:transform 0.3s ;
}
.card2:hover{
     transform: scale(1.1);
}
img{
    height: 40vw;
    width:71vw;
    border-radius: 15px;
    object-fit: cover;
   
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}
.contact{
    height: 200px;
    background-color: #24243e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.linkedin{
    color: #fafafa;
}
.cont{
    height:100px;
    width:200px;
    border-radius: 10px;
    background-color: #f4d58d;
    border: none;
    font-size: larger;
    font-weight: 900;
    transition: transform 0.3s; ;
}
.cont:hover{
    transform: scale(1.1);
    color: #bf0603;
}

footer {
    background: #222;
    color: #888;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #444;
}

footer p {
    margin: 0;
}

.section2{
    padding: 6rem 2rem;
    text-align: center;
    transition: background-color 1s ease;
}
.section3{
    padding: 6rem 2rem;
    text-align: center;
    transition: background-color 1s ease;
}

        


   

   







